.container {
  width: 100vw;
  height: 90vh;
  padding: 1em;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 1fr;
  grid-template-areas:
    "drawers counter"
    "breakdown breakdown";
  justify-items: stretch;
  align-content: stretch;
}

.cashcounterArea {
  grid-area: counter;
  /* background-color: red; */
}

.drawersArea {
  grid-area: drawers;
  /* background-color: blue; */
}

.breakdownArea {
  grid-area: breakdown;
  /* background-color: green; */
}

.breakdownArea, .drawersArea, .cashcounterArea {
  padding: 1em;
}
