.container {
  /* border: solid white 1px; */
  /* min-height: 50vh;
  width: 60%;
  min-width: 390px;
  max-width: 500px;
  padding: 0 2em;
  min-height: 80vh; */

  width: 100vw;
  height: 90vh;
  padding: 1em;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 1fr;
  grid-template-areas:
    "drawers counter"
    "breakdown breakdown";
  justify-items: stretch;
  align-content: stretch;

  /* flex-direction: column; */
  /* justify-content: space-between; */
  /* align-items: stretch; */
}

.cashcounterArea {
  grid-area: counter;
  /* background-color: red; */
}

.drawersArea {
  grid-area: drawers;
  /* background-color: blue; */
}

.breakdownArea {
  grid-area: breakdown;
  /* background-color: green; */
}

.drawerCounter {
  width: 100%;
  height: 100%;
}
