.container {
  /* border: solid white 1px; */
  min-height: 50vh;
  width: 60%;
  min-width: 390px;
  padding: 0 2em;
  min-height: 80vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.totalRow, .differenceRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 100%;
  align-items: center;
  height: 2em;
  min-height: 80px;
}

.totalRow span {
  min-width: 15%;
}

.inputContainer {
  min-width: 30%;
}

.expectedInput {
  line-height: 2em;
  font-size: 22px;
  /* min-width: 30%; */
}

.totalValue, .difference {
  font-size: 28px;
  font-weight: 700;
  min-width: 15%;
}