.container {
  min-height: 50vh;
  /* width: 60%; */
  min-width: 390px;
  min-height: 80vh;
  padding: 0 2em;

  display: flex;
  justify-content: space-between;
  align-items: stretch;

}

.denominationRows, .dataRows {
  /* border: groove white 1px; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

}

.totalRow, .differenceRow, .differenceRow2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 100%;
  align-items: center;
  height: 1em;
  min-height: 60px;
  padding: 1em;
}

.differenceRow span, .totalRow span, .differenceRow2 span {
  width: 25%;
}

.totalRow span {
  min-width: 15%;
}

.inputContainer {
  min-width: 15%;
}

.expectedInput {
  line-height: 2em;
  font-size: 22px;
  max-width: 80%;
}
/* 
.totalValue, .difference {
  font-size: 28px;
  font-weight: 700;
  min-width: 15%;
} */