.container {
  /* border: solid white 1px; */
  min-height: 50vh;
  width: 60%;
  min-width: 390px;
  padding: 0 2em;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.totalRow {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 1em;
}

.totalValue {
  font-size: 3em;
  font-weight: 900;
}