.container {
  width: 100% !important;
  height: 100%;
}

.inputContainer {
  width: 40%;
  display: flex;
  justify-items: stretch;
  align-content: stretch;
  align-items: center;
  justify-content: space-between;
}

.sumContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;

}

.input {
  /* width: 100%; */
}

.row {
  display: flex;
  justify-content: space-around;
}

.segmentGroup {
  /* min-height: 600px !important; */
  height: 100% !important;
}