.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  /* padding: 6rem; */
  min-height: 100vh;
  min-width: 90vw;

  font-size: 22px;

  /* border: solid white 1px; */
}
