.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  min-width: 90vw;

  border: solid white 1px;
}

.container {
  border: solid white 1px;
  min-height: 50vh;
  width: 60%;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
}