.row {
    /* border-bottom: dotted white 1px; */
    min-width: 100%;
    min-height: 80px;
    height: 2em;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.denomination {
    min-width: 15%;
}

.inputContainer {
    min-width: 15%;
}

.total {
    min-width: 15%;
}

.input {
  line-height: 2em;
  font-size: 22px;
<<<<<<< HEAD:src/components/DrawerCounter/DenominationRow/row.module.css
  text-align: center;
=======
  width: 90%;
>>>>>>> 406926cbc0f47a6c818a999069497643e9232ab6:src/components/DenominationRow/row.module.css
}