.row {
    display: flex;
    justify-content: space-between;
    min-width: 100%;
    align-items: center;
}

.denomination {
    min-width: 15%;
}

.input {
    min-width: 30%;
}

.total {
    min-width: 15%;
}