.container {
  width: 100% !important;
  height: 100%;
}

.segmentGroup {
  justify-items: stretch;
  height: 100% !important;
  /* min-height: 600px !important; */
}

.flexRow {
  /* display: flex; */
  /* align-items: center; */

}