.container {
  width: 100% !important;
  /* height: 100%; */
  min-width: 200px !important;
  max-width: 300px !important;
}

.segmentGroup {
  justify-items: stretch;
  /* height: 100% !important; */
  /* min-height: 600px !important; */
}

.flexRow {
  /* display: flex; */
  /* align-items: center; */

}