.row {
    display: flex;
    justify-content: space-between;
    min-width: 100%;
    align-items: center;
    border-bottom: dotted white 1px;
    height: 2em;
    min-height: 80px;
    flex: 1;
}

.denomination {
    min-width: 15%;
}

.inputContainer {
    min-width: 30%;
}

.total {
    min-width: 15%;
}

.input {
  line-height: 2em;
  font-size: 22px;
}